aside {
    position: fixed;
    border-radius: 48px;
    border: 1px solid #353C4A;
    background: #181E29;
    padding: 7px;
    right: -20%;
    top: 50%;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: right 0.2s linear;
}

img[alt="moon icon"] {
    transform: rotate(-110deg);
}
aside.visible {
    right: -6%;
}

@media (max-width: 800px) {
    aside {
        display: none;
    }
}