$Brand-Primary-Pink: #EB568E;
$Brand-Primary-Blue: #144EE3;
$Black: #0B101B;
$Grey: #181E29;
$Lite: #C9CED6;
$White: #FFF;
$Gradient: linear-gradient(95deg, #144EE3 0%, #EB568E 19%, #EB568E 64%, #144EE3 100%);
$Active: #1EB036;
$Inactive: #B0901E;
