@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
@import "nav";
@import "colors";
@import "buttons";
@import "input";
@import "aside";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", serif;
  background-color: $Black;
  background-image: url("/images/Cubes.svg"), url("/images/Swirl.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  margin-bottom: 2rem;
  min-height: 100vh;
}
main {
  max-width: 1000px;
  // background: orange;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
header {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
header > div > h1 {
  font-size: 60px;
  font-weight: bolder;
  background-image: $Gradient;
  background-clip: text;
  color: transparent;
}
header > div > p {
  font-size: 1rem;
  font-weight: lighter;
  color: $Lite;
  width: 59%;
  text-align: center;
}
.paste {
  display: flex;
  gap: 15px;
}
.paste > p {
  font-size: 14px;
  color: #c9ced6;
  font-weight: 300;
}
header > div:last-child > p {
  font-size: 14px;
  color: #c9ced6;
  font-weight: 300;

  & > span {
    color: $Brand-Primary-Pink;
    font-weight: 600;
  }
}
.th,.td {
  display: flex;
  gap: 6px;
  align-items: center;
}
.tr {
  display: grid;
  grid-template-columns: 1fr 1fr 76px 76px 0.5fr 96px;
  gap: 0.5rem;
}
.thead,
.tbody > .tr {
  background: $Grey;
  padding: 16px 15px;
  border-radius: 10px 10px 0 00;
}
.th {
  text-align: start;
  font-weight: bold;
  font-size: 15px;
  color: $Lite;
}
// .td {
//   display: flex;
//   // justify-content: center;
//   align-items: center;
  
// }

.tbody > .tr {
  background-color: rgba(24, 30, 41, 0.22);
  border-radius: 0;
}
.tbody .td {
  font-size: 14px;
  font-weight: lighter;
  color: $Lite;
  // gap: 010px;
}
.tbody .td.center {
  justify-content: center !important;
}
.td.active {
  color: $Active;
}
.td.inactive {
  color: $Inactive;
}
// .tbody {
//   position: relative;
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: center;
//   // align-items: center;
// }
// .flex {
//   display: flex;
//   justify-content: center;
//   align-items: stretch;
// }
// .align {
//   text-align: center;
// }
// .empty {
//   width: 300px;
//   height: 300px;

//   & > img {
//     width: 100%;
//     height: 100%;
//   }
// }

.tfoot {
  backdrop-filter: blur(5px);
  background: rgba(#0b101b, 0.3);
  display: flex;
  justify-content: center;
  padding: 16px 15px;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  // filter: blur(40%);

  & > p {
    color: $Lite;
    font-size: 14px;
    font-weight: lighter;

    & > span {
      color: $Brand-Primary-Blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.table > .tbody > .tr > .td:nth-child(2),
.table > .thead > .tr > .th:nth-child(2) {
  display: none;
}
// .table > .thead > .tr > .th:not(:first-child) {
//   display: none;
// }

@media (max-width: 800px) {
  body {
    padding: 1.62rem;
    padding-top: 0.75rem;
  }
  main {
    margin-top: 4.06rem;
  }
  header > div h1 {
    font-size: 35px;
    text-align: center;
  }
  header > div > p {
    width: auto;
  }
  .table > .thead > .tr > .th:not(:first-child),
  .table > .tbody > .tr > * {
    display: none;
  }
  .table > .tbody > .tr > .td:nth-child(2),
   .table > .tbody > .tr > .td:first-child {
    display: flex;
    align-items: center;
  }
  .thead,
  .tbody {
    & .tr {
      display: grid;
      grid-template-columns: 1fr 35px;
      gap: 0.5rem;
    }
  }
}
