aside 
    button.icon.transparent
        div
            img(src="/images/sun.svg", alt="sun icon")
        p Light
    
    button.btn.icon 
        div
            img(src="/images/moon.svg", alt="moon icon")
        p Dark Theme
    