.tr
    .td https://linkly.com/Bn41aCOlnxj
        img(src="/images/Frame 46.svg" alt="link icon")

    .td https://www.twitter.com/tweets/8erelCoihu/
    .td 
        img(src="/images/image 4.svg" alt="qr code icon")
    .td 1313
    if (state)
        .td.active Active  
            div
                img(src="/images/Frame 46 (1).svg" alt="link icon")
    else 
        .td.inactive Active  
            div
                img(src="/images/Frame 46 (2).svg" alt="link icon")
    .td Oct - 10 -2023
