.input
    div
        img(src="/images/link.svg", alt="link icon")
    input#url(type="url", name="url" placeholder="Enter the link here")
    button.btn.icon
        p Shorten Now!
        div.icon
            img(src="/images/arrow-right.svg", alt="arrow-right icon")