nav 
    .logo 
        p 
            span Linkly
                sup ®
    .register 
        button.btn.icon.dark Login 
            img(src="/images/sign-in.svg" alt="alt")
        button.btn Register Now 