doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script.
      // Establish a WebSocket connection
      const socket = new WebSocket("ws://192.168.40.92:3000/");

      // Use the 'user' variable passed from the server
      const cookie = "#{user}";  // This will output the 'user' value into the script
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src="/javascripts/clipboard.js")
    script(src="/javascripts/index.js")
    script(src="/javascripts/ws-server.js")
