@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > .logo > p span {
  font-size: 36.91px;
  font-weight: 800;
  background: linear-gradient(95deg, #144EE3 0%, #EB568E 19%, #EB568E 64%, #144EE3 100%);
  background-clip: text;
  color: transparent;
  font-family: "Inter", sans-serif;
}
nav > .logo > p span > sup {
  color: #181E29;
}
nav > .register {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 800px) {
  nav > .logo > p sup,
  nav > .register > button:last-child {
    display: none;
  }
}
.btn {
  height: 50px;
  padding: 15px 21px;
  border-radius: 48px;
  background-color: #144EE3;
  color: #FFF;
  box-shadow: 10px 0 22px rgba(20, 78, 227, 0.3);
  border: 1px solid #144EE3;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.transparent {
  background: transparent;
  padding: 15px 21px;
  border: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn.icon,
.transparent {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.load-1 {
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  animation: load 0.51s linear 0s infinite;
}

.load-2 {
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  animation: load 0.55s linear 1.9s infinite;
}

.load-3 {
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  animation: load 1.5s linear 2s infinite;
}

.btn.dark {
  background-color: #181E29;
  border: 1px solid #353c4a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.radio {
  width: 44px;
  height: 24px;
  border-radius: 48px;
  box-shadow: inset 0 0 0 2px #353C4A;
  position: relative;
  cursor: pointer;
}

.point {
  width: 17px;
  height: 17px;
  background: #181e29;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 7%;
  transition: all 0.2s linear;
}

.point.on {
  left: 50%;
  background-color: #144EE3;
}

.btn.drop.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 31px;
  background-color: rgba(28, 40, 63, 0.69);
  padding: 10px;
}

@keyframes load {
  0% {
    width: 10px;
    height: 10px;
  }
  100% {
    width: 5px;
    height: 5px;
  }
}
.input {
  display: flex;
  align-items: center;
  width: 659px;
  border-radius: 48px;
  background: #181e29;
  box-shadow: inset 0 0 0 4px #353c4a;
  padding: 8px 7.5px;
  padding-left: 25px;
  gap: 10px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.input > input {
  flex-grow: 1;
  align-self: stretch;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 300;
  caret-color: #EB568E;
  color: #fff;
}

.input > button > div.icon {
  display: none;
}

.input.invalid {
  position: relative;
  box-shadow: inset 0 0 0 4px #8d1010;
}
.input.invalid::before {
  position: absolute;
  content: "Invalid URL";
  color: red;
  font-size: small;
  font-weight: bold;
  bottom: -35%;
  left: 7%;
}

.input.valid {
  position: relative;
  box-shadow: inset 0 0 0 4px #188026;
}
.input.valid::before {
  position: absolute;
  content: "Invalid URL";
  color: green;
  font-weight: bold;
  font-size: small;
  bottom: -35%;
  left: 7%;
}

@media (max-width: 800px) {
  .input {
    margin-bottom: 1rem;
  }
  .input,
  .input input {
    width: 100%;
  }
  .input > button > p {
    display: none;
  }
  .input > button > div.icon {
    display: block;
  }
}
aside {
  position: fixed;
  border-radius: 48px;
  border: 1px solid #353C4A;
  background: #181E29;
  padding: 7px;
  right: -20%;
  top: 50%;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: right 0.2s linear;
}

img[alt="moon icon"] {
  transform: rotate(-110deg);
}

aside.visible {
  right: -6%;
}

@media (max-width: 800px) {
  aside {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  background-color: #0B101B;
  background-image: url("/images/Cubes.svg"), url("/images/Swirl.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  margin-bottom: 2rem;
  min-height: 100vh;
}

main {
  max-width: 1000px;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

header > div > h1 {
  font-size: 60px;
  font-weight: bolder;
  background-image: linear-gradient(95deg, #144EE3 0%, #EB568E 19%, #EB568E 64%, #144EE3 100%);
  background-clip: text;
  color: transparent;
}

header > div > p {
  font-size: 1rem;
  font-weight: lighter;
  color: #C9CED6;
  width: 59%;
  text-align: center;
}

.paste {
  display: flex;
  gap: 15px;
}

.paste > p {
  font-size: 14px;
  color: #c9ced6;
  font-weight: 300;
}

header > div:last-child > p {
  font-size: 14px;
  color: #c9ced6;
  font-weight: 300;
}
header > div:last-child > p > span {
  color: #EB568E;
  font-weight: 600;
}

.th, .td {
  display: flex;
  gap: 6px;
  align-items: center;
}

.tr {
  display: grid;
  grid-template-columns: 1fr 1fr 76px 76px 0.5fr 96px;
  gap: 2rem;
}

.thead,
.tbody > .tr {
  background: #181E29;
  padding: 16px 15px;
  border-radius: 10px 10px 0 0;
}

.th {
  text-align: start;
  font-weight: bold;
  font-size: 15px;
  color: #C9CED6;
}

.tbody > .tr {
  background-color: rgba(24, 30, 41, 0.22);
  border-radius: 0;
}

.tbody .td {
  font-size: 14px;
  font-weight: lighter;
  color: #C9CED6;
}

.tbody .td.center {
  justify-content: center !important;
}

.td.active {
  color: #1EB036;
}

.td.inactive {
  color: #B0901E;
}

.tfoot {
  backdrop-filter: blur(5px);
  background: rgba(11, 16, 27, 0.3);
  display: flex;
  justify-content: center;
  padding: 16px 15px;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
}
.tfoot > p {
  color: #C9CED6;
  font-size: 14px;
  font-weight: lighter;
}
.tfoot > p > span {
  color: #144EE3;
  text-decoration: underline;
  cursor: pointer;
}

.table > .tbody > .tr > .td:nth-child(2),
.table > .thead > .tr > .th:nth-child(2) {
  display: none;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty > img {
  width: 50%;
  height: auto;
}

@media (max-width: 800px) {
  body {
    padding: 1.62rem;
    padding-top: 0.75rem;
  }
  main {
    margin-top: 4.06rem;
  }
  header > div h1 {
    font-size: 35px;
    text-align: center;
  }
  header > div > p {
    width: auto;
  }
  .table > .thead > .tr > .th:not(:first-child),
  .table > .tbody > .tr > * {
    display: none;
  }
  .table > .tbody > .tr > .td:nth-child(2),
  .table > .tbody > .tr > .td:first-child {
    display: flex;
    align-items: center;
  }
  .thead .tr,
  .tbody .tr {
    display: grid;
    grid-template-columns: 1fr 35px;
    gap: 2.5rem;
  }
}